#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper. GNU copyright 1997 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

build: build-stamp
build-stamp:
	dh_testdir

# Add here commands to compile the package.  
	export JDK_HOME=/usr/lib/jdk1.1/ ; \
	./autogen.sh --with-gnu-ld --x-includes=/usr/lib/jdk1.1/include --prefix=`pwd`/debian/tmp/usr --enable-JDK_HOME
	$(MAKE)

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp install-stamp

# Add here commands to clean up after the build process.
	-$(MAKE) clean
	-$(MAKE) distclean

	dh_clean config.cache config.h config.h.in config.status Makefile.in configure config.log config.guess config.sub ltconfig ltmain.sh aclocal.m4
	rm -rf javax com META-INF

install: install-stamp
install-stamp: build-stamp
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

# Add here commands to install the package into debian/tmp.
	$(MAKE) prefix=`pwd`/debian/tmp/usr install
	mv debian/tmp/usr/lib/jcl.jar debian/tmp/usr/share/java/
	cp debian/javax.comm.properties debian/tmp/etc/

	touch install-stamp

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
#	dh_testversion
	dh_testdir
	dh_testroot
	dh_installdocs AUTHORS BUGS CommAPI PORTING README TODO INSTALL
	dh_installexamples
#	dh_installmenu
#	dh_installemacsen
#	dh_installpam
#	dh_installinit
#	dh_installcron
#	dh_installmanpages
#	dh_undocumented
	dh_installchangelogs ChangeLog
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
# You may want to make some executables suid here.
	dh_suidregister
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

source diff:
	@echo >&2 'source and diff are obsolete - use dpkg-source -b'; false

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
